---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/lootbox.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Loads of Lootboxes</title>
	</head>
	<body class="w-screen h-screen flex justify-center items-center bg-slate-700 overflow-hidden">
		<div class="text-center">
			<slot />
		</div>
		
	</body>
</html>

